<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
    {{>header}}
    <p>This site was created by Hyrum Butler. It uses data from mapbox.com and weatherstack.com.</p>
    <img class="portrait" src="/img/profile.jpeg">
    </div>
    <h4>Email: <a class="btn" href="mailto:hyrum.butler3@gmail.com">hyrum.butler3@gmail.com</a></h4>

    {{>footer}}
</body>

</html>